

#buttonMultiply
{
    font-size: 15px;

    width: 196px;
    height: 45px;
    margin-top: 32px;

    cursor: pointer;

    color: white;
    border: none;
    outline: none;
    background-color: #bcbcbc;
    background-image: url(../img/buttons.png);
    background-position: -1px 460px;
}




button
{
    line-height: 28px;

    padding: 0 10px ;

    border: 1px solid rgba(0,0,0,.35);
    border-bottom: 1px solid rgba(0,0,0,.5);
    border-radius: 2px;
    outline: none;
    background-color: #ebebeb;
}




#choiceMatrixA
{
    display: inline-block;

    margin-top: 67px;
    margin-right: 2px;
}

#choiceMatrixB
{
    display: inline-block;

    margin-right: 2px;
    margin-left: 25px;
}
#choiceMatrixB + label
{
    margin-left: 0;
}
input[type='radio'] + label:before
{
    display: none;

    content: '';
}




#interface fieldset
{
    border: none;
}

input[type='text']
{
    line-height: 32px;
}
